<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">
    <nav class="bg-gray-700 text-white px-4 py-3 flex justify-between items-center">
        <div class="text-xl font-bold tracking-wide">
            EasyEvents
        </div>
 <div class="flex items-center space-x-4">
<a href="{% url 'user_event_list' %}"
   class="bg-gradient-to-r from-blue-600 to-indigo-600 text-white font-semibold px-5 py-2 rounded-xl shadow-md hover:from-blue-600 hover:to-indigo-700 transform hover:scale-105 transition duration-300 ease-in-out">
   Home
</a>
     
    {% if next_upcoming_event  %}
    <span class="bg-gradient-to-r from-yellow-300 via-orange-400 to-yellow-400 text-gray-900 px-4 py-2 rounded-xl font-semibold shadow-md animate-pulse">
      Next Event:
      <span class="italic font-bold text-blue-800 hover:text-blue-600 transition duration-300">
        {{ next_upcoming_event.title }}
      </span>
    </span>
    {% else %}
    <span class="bg-yellow-400 text-gray-900 px-4 py-2 rounded-lg font-semibold">
        No Upcoming Events
      </span>
    {% endif %}

    </div>
    </nav>

        <section class="p-6 max-w-7xl mx-auto">
               {% block body %}
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
{% for event in events %}
      <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl transition">
        <h2 class="text-lg font-semibold text-gray-800 mb-2">{{event.title}}</h2>
        <p class="text-sm text-gray-600 mb-1">{{event.description}}</p>
        <p class="text-sm text-gray-600 mb-1"><strong>Venue:</strong>{{event.venue}}</p>
        <p class="text-sm text-gray-600 mb-3"><strong>Date:</strong>{{ event.date }} {{ event.time }}</p>
        <span class="block mb-4 text-sm text-green-600 font-bold">Seats Left: {{event.seats_left}}</span>
       
      {% if event.is_sold_out %}
      <span class="text-red-500 font-bold">Sold Out</span>
      {% else %}
       <a href="{% url 'user_book_event' event.id %}" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg transition">
          Book Now
        </a>
      {% endif %}
      </div>
  {% endfor %}

  </div>

            
              {% endblock %}
        </section>

</body>
</html>